body{
    background: #1A202C;
    overflow-x: hidden;
}

nav{
    padding-top: 5px;
    background: #212834;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}


.logo img{
    width: 120px;
    height:30px;
}

.navigation> ul{
    list-style-type: none;
    display: flex;
    /* align-items: baseline; */
}
.navigation > ul li{
    margin: 0 30px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    position: relative;
    
}
.navigation > ul li img{
  width: 15px;
  height: 15px;
  margin-right:2px;
}
.navigation > ul li:nth-of-type(2)::before{
    content: url("../img/Vector (6).png");
    position: absolute;
    right: -20px;
    top: -2px;
  }

  .navigation > ul li:nth-of-type(6)::before{
    content: url("../img/Vector (6).png");
    position: absolute;
    right: -20px;
    top: -2px;
  }
 
  a{
    text-decoration: none;
    color: white;
}

.icons >img{
    width: 25px;
    height: 25px;
}
.icons >img:first-child{
    margin-right: 10px;
}