.points{
   display: flex;
   width: 100%;
   flex-direction: row;
   gap: 5px;
   margin-left: 5px;
  
}
.points-1{
    flex: 0 0 calc((5*100%)/10);
    height: 295px;
    background: #212734;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;

}
.points-1> img{
   width: 100%;
   height: auto;
   background-position: center center;
   background-size: contain;
   margin-top:-50px;
   margin-left: 5px;
 
}

.points-2{
    flex: 0 0 calc((3*100%)/10);
    height: 295px;
    background: #212834;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 7.44986px;
   text-align: center;
}
.points-2> img{  
    height: 200px;
    width: 60%;
    background-position: center center;
    background-size: contain;      
}

.points-3{
    flex: 0 0 calc((2*100%)/10);
    height: 300px;  
}
.points-3 > img{
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;   
 }

 .points-1_head{
   display: flex;
   flex-direction: column;
   padding: 15px;
 }

 .points-1_head-sel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Axiforma';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height, or 150% */


      /* call to action main */

      color: #805AD5;
}

 .select1{
    background: linear-gradient(180deg, #212834 0%, #262F3D 0.01%, #212734 100%);
    /* Silver to for */

    border: 0.842853px solid #A3A0A0;
    border-radius: 3.97656px;
    width: 117.64px;
      height: 30.33px;
      font-family: 'Axiforma';
      font-style: normal;
      font-weight: 400;
      font-size: 14.7054px;
      line-height: 148%;
      /* identical to box height, or 22px */


      color: #FFFFFF;
      margin-right: 4px;

 }

 .select2{
    width: 102.02px;
    height: 30.33px;
    background: linear-gradient(180deg, #212834 0%, #262F3D 0.01%, #212734 100%);
      /* Silver to for */

      border: 0.919089px solid #A3A0A0;
      border-radius: 2.75727px;
      font-family: 'Axiforma';
      font-style: normal;
      font-weight: 400;
      font-size: 14.7054px;
      line-height: 148%;
      /* identical to box height, or 22px */


      color: #FFFFFF;
 }

 .span{
    font-family: 'Axiforma';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   /* identical to box height, or 150% */


   color: #FFFFFF;
 }

 .icons {
  align-self: flex-end;
 }

 .icons > ul{
    display: flex;
    list-style-type: none;
    align-items: baseline;
 }

 .icons > ul li{
   margin: 0 2px;
 }

 .checked{
    display: flex;
    justify-content:flex-end;
    background: #212834;


    font-family: 'Axiforma';
   font-style: normal;
   font-weight: 400;
   font-size: 11.5116px;
   line-height: 18px;

   color: #CAD9FF;
 }

 .checked > div{
   margin-right: 10px;
   display: flex;
   justify-content: baseline;
 }

 .checked > div:first-child{
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 11.5116px;
    line-height: 18px;
    
    color: #128994;
     }

.checked > div:nth-of-type(2){
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 11.5116px;
    line-height: 18px;

    color: #58C925;
     }

 .checked > div input{
    margin-right: 14px;
   }

 input[type="checkbox"]:checked,
 input[type="checkbox"]:focus::before{
   content: url("../img/Vector 158.png");
}

 input[type="checkbox"]{
    appearance: none;
    border: 0.639536px solid #805AD5;
    width: 14px;
    height: 14px;
 }